.Footer-Container {

    max-width: 100%;

    .Footer-img {
        height: 144px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #212121;
    }

    .Footer-Contacts {
        border: 1px solid transparent;
        background: #812900;

        .Footer-Title {
            margin-top: 4rem;
            margin-bottom: 1rem;
            text-align: center;
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
            line-height: 175%;
            /* 36.75px */
            letter-spacing: -1.05px;
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
            line-height: 175%;
            /* 36.75px */

        }

        .Footer-Contacts-Email-Tel {

            .Footer-Email {
                color: #f0f0f0;
                text-align: center;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 175%;
                /* 24.5px */
                letter-spacing: -0.7px;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .Footer-Tel {
                color: #f0f0f0;
                text-align: center;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 175%;
                /* 24.5px */
                letter-spacing: -0.7px;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        .Footer-icon {
            display: inline-flex;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            width: 100%;

            img {
                width: 30px;
                height: 30px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .Footer-terms {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: 32px;
            margin-top: 2rem;
            width: 100%;

            p {
                color: #f0f0f0;
                text-align: center;
                font-family: Lexend Exa;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 175%;
                /* 24.5px */
                letter-spacing: -0.7px;
                text-decoration-line: underline;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .Footer-copyright {
            color: #f0f0f0;
            text-align: center;
            font-family: Lexend Exa;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 175%;
            /* 21px */
            letter-spacing: -0.6px;
            margin-top: 4rem;
            margin-bottom: 64px;
        }
    }
}