.footer {
    // Estilo principal do rodapé
    background: #54B3B5;
    margin: 0;

    @media (min-width:$tablet) and (max-width:$desktop-3) {

        margin-top: 6rem;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        padding: 70px;

        @media (max-width:$mobile) {
            flex-direction: column;
            padding: 0px;
            align-items: center;
        }

        @media (min-width:$mobile) and (max-width:$tablet) {
            flex-direction: column;
            padding: 0px;
            align-items: center;
        }

        .footer-links {
            color: #FFF;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            gap: 68px;
            cursor: pointer;


            @media (max-width:$mobile) {
                margin-top: 64px;
                gap: 34px;
            }

            @media (min-width:$mobile) and (max-width:$tablet) {
                margin-top: 64px;
                gap: 34px;
            }
        }

        .footer-social-media {

            display: flex;
            gap: 42px;

            @media (max-width:$mobile) {
                margin-top: 64px;
            }

            @media (min-width:$mobile) and (max-width:$tablet) {
                margin-top: 64px;
            }

            .footer-icon {
                width: 35px;
                height: 35px;
                flex-shrink: 0;

                &:hover {
                    cursor: pointer;
                }
            }

        }
    }

    .footer-middle {

        .footer-contact {
            justify-content: space-around;
            display: flex;
            margin: auto;
            width: 95%;

            @media (max-width:$mobile) {
                margin-top: 78px;
            }

            @media (min-width:$mobile) and (max-width:$tablet) {
                margin-top: 78px;
            }

            @media (min-width:$tablet) and (max-width:$desktop-2) {
                width: 95%;
                justify-content: space-around;
            }
            @media (min-width:$tablet) and (max-width:$desktop-3) {
                justify-content: space-around;
            }

            .footer-contact-main {
                width: 33%;
                @media (min-width:$tablet) and (max-width:$desktop-3) {
                    width: 50%;
                }
                @media (max-width:$mobile) {
                    width: 100%;
                }

                @media (min-width:$mobile) and (max-width:$tablet) {
                    width: 100%;
                }

                .footer-title {

                    color: #FFF;
                    font-family: Montserrat;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin: auto;
                    text-align: center;
                    margin-bottom: 64px;

                    @media (max-width:$mobile) {
                        margin-bottom: 8px;
                    }

                    @media (min-width:$mobile) and (max-width:$tablet) {
                        margin-bottom: 8px;
                        font-size: 32px;
                    }
                }

                .footer-contact-container {

                    display: flex;
                    gap: 94px;
                    justify-content: center;
                    margin-bottom: 32px;
                    position: relative;

                    @media (max-width:$mobile) {
                        flex-direction: column;
                        gap: 0;
                        justify-content: center;
                        align-items: center;
                    }

                    @media (min-width:$mobile) and (max-width:$tablet) {
                        flex-direction: column;
                        gap: 0;
                        justify-content: center;
                        align-items: center;
                    }

                    .footer-contact-item {
                        display: flex;
                        gap: 12px;
                        margin-top: 28px;

                        @media (max-width:$mobile) {
                            align-items: center;
                            gap: 16px;
                        }

                        @media (min-width:$mobile) and (max-width:$tablet) {
                            align-items: center;
                            gap: 16px;
                        }

                        .footer-contact-icon {
                            width: 24.903px;
                            height: 25px;
                            flex-shrink: 0;

                            @media (max-width:$mobile) {
                                width: 34.903px;
                                height: 35px;
                                flex-shrink: 0;
                            }    

                            @media (min-width:$mobile) and (max-width:$tablet) {
                                width: 34.903px;
                                height: 35px;
                                flex-shrink: 0;
                            }
                        }

                        .footer-contact-label {
                            color: #ECDF8D;
                            font-family: Montserrat;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        .footer-contact-detail {
                            color: #FFF;
                            font-family: Montserrat;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            margin-top: 8px;
                            width: 80%;

                            @media (max-width:$mobile) {
                                width: 231px;
                            }

                            @media (min-width:$mobile) and (max-width:$tablet) {
                                width: 231px;
                            }

                            @media (min-width:$tablet) and (max-width:$desktop-3) {
                                width: 231px;
                            }
                        }

                    }

                    .footer-line {
                        width: 3px;
                        height: 348px;
                        background: #C5C2D6;
                        position: absolute;
                        right: 2%;

                        @media (max-width:$mobile) {
                            display: none;
                        }

                        @media (min-width:$mobile) and (max-width:$tablet) {
                            display: none;
                        }

                        @media (min-width:$tablet) and (max-width:$desktop-3) {
                            display: none;
                        }

                    }
                }
            }

            .footer-about {
                width: 33%;
                text-align: center;
                position: relative;

                @media (max-width:$mobile) {
                    display: none;
                }

                @media (min-width:$mobile) and (max-width:$tablet) {
                    display: none;
                }

                @media (min-width:$tablet) and (max-width:$desktop-3) {
                    display: none;
                }

                .footer-about-containter-title {
                    display: flex;
                    justify-content: center;
                    gap: 16px;
                    align-items: center;
                    margin-bottom: 54px;

                    .footer-about-logo {
                        width: 91.455px;
                        height: 70px;
                        flex-shrink: 0;

                        @media (max-width:$mobile) {
                            display: none;
                        }

                        @media (min-width:$mobile) and (max-width:$tablet) {
                            display: none;
                        }
                    }

                    .footer-about-title-container {
                        display: flex;
                        flex-direction: column;
                        text-align: start;

                        .footer-about-title-one {
                            color: #FFF;
                            font-family: Montserrat;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            letter-spacing: 2.4px;

                        }

                        .footer-about-title-two {
                            color: #FFF;
                            font-family: Montserrat;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            letter-spacing: 2.4px;
                            margin-bottom: 4px;

                            span {
                                color: #ECDF8D;
                            }
                        }
                    }
                }


                .footer-about-text {
                    color: var(--Basic-1, #FFF);
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    position: relative;
                    height: 103px;
                    flex-shrink: 0;
                }

                .footer-line {
                    width: 3px;
                    height: 348px;
                    background: #C5C2D6;
                    position: absolute;
                    right: -2%;
                    top: 20%;

                    @media (max-width:$mobile) {
                        display: none;
                    }

                    @media (min-width:$mobile) and (max-width:$tablet) {
                        display: none;
                    }

                    @media (min-width:$tablet) and (max-width:$desktop-2) {
                        display: none;
                    }
                }
            }

            .footer-follow {
                width: 33%;
                @media (min-width:$tablet) and (max-width:$desktop-3) {
                    width: 35%;
                }
                @media (max-width:$mobile) {
                    display: none;
                }

                @media (min-width:$mobile) and (max-width:$tablet) {
                    display: none;
                }

                .footer-follow-main {
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    justify-content: center;

                    // margin-bottom: 32px;
                    .footer-follow-logo {
                        width: 111px;
                        height: 117px;
                        flex-shrink: 0;
                    }

                    .footer-follow-content {
                        .footer-follow-content-text {
                            color: #FFF;
                            font-family: Montserrat;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            display: flex;
                            flex-direction: column;
                            gap: 2px;

                            span {
                                color: var(--Colors-primary, #ECDF8D);
                                font-family: Montserrat;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                            }
                        }

                        .footer-follow-button {
                            margin-top: 12px;
                            display: flex;
                            width: 170px;
                            height: 39px;
                            padding: 21px 37px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            flex-shrink: 0;
                            border-radius: 12px;
                            background: #ECDF8D;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
                            border: 0px solid;
                            color: #FFF;
                            font-family: Roboto;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;

                            &:hover {
                                cursor: pointer;
                                background: #F5E95D;
                                /* Cor de fundo ao passar o mouse */
                                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.10);
                                /* Sombra mais intensa */
                                color: #707070;
                                /* Cor do texto muda para destacar mais */
                            }
                        }
                    }

                }

                .footer-line {
                    width: 350px;
                    height: 3px;
                    background: #C5C2D6;
                    margin: auto;
                    margin-bottom: 16px;
                    margin-top: 12px;

                }

                .footer-gallery {

                    .footer-gallery-container {
                        display: flex;
                        gap: 16px;
                        justify-content: center;
                        margin-bottom: 16px;

                        .footer-gallery-image {
                            width: 120px;
                            height: 120px;
                            flex-shrink: 0;
                            background: linear-gradient(0deg, rgba(236, 223, 141, 0.40) 0%, rgba(236, 223, 141, 0.40) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
                            background-blend-mode: soft-light, normal;
                            border-radius: 16px;
                        }
                    }
                }
            }

        }

    }

    .footer-line-main {
        margin-top: 32px;
        // margin-bottom: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        gap: 28px;


        .footer-line {
            width: 1379px;
            height: 3px;
            background: #C5C2D6;

            @media (max-width:$mobile) {
                width: 100%;
            }

            @media (min-width:$mobile) and (max-width:$tablet) {
                width: 100%;
            }
        }

        .footer-copyright {
            color: #FFF;
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 511px;
            height: 27px;
            flex-shrink: 0;
            padding: 16px;

            @media (max-width:$mobile) {
                color: var(--Colors-primary, #FFF);
                text-align: center;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: auto;
            }

            @media (min-width:$mobile) and (max-width:$tablet) {
                color: var(--Colors-primary, #FFF);
                text-align: center;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: auto;
            }
        }
    }
}