* {
    margin: 0;
}

.team-section {
    background: #ECDF8D;

    .team-header {
        display: flex; // Use flexbox para alinhar horizontalmente
        align-items: center; // Alinha verticalmente no centro
        justify-content: center;
        position: relative;

        .team-title {
            width: 704px;
            height: 150px;
            flex-shrink: 0;
            color: var(--Basic-1, #FFF);
            text-align: center;
            font-family: Montserrat;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-top: 64px;

            @media (max-width:$mobile) {
                max-width: 320px;
                height: 195px;
                flex-shrink: 0;
                color: var(--Basic-1, var(--Colors-primary, #FFF));
                text-align: center;
                font-family: Montserrat;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            @media (min-width:$mobileM) and (max-width:$mobilePlus) {
                width: 900px;
                font-size: 80px;
            }


            @media (min-width:$tablet) and (max-width:$tablet) {
                flex-shrink: 0;
                color: var(--Basic-1, var(--Colors-primary, #FFF));
                text-align: center;
                font-family: Montserrat;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-top: 64px;
                height: auto;
            }
        }

        .team-header-image {
            width: 400px; // Ajuste o tamanho conforme necessário
            height: auto; // Mantém a proporção da imagem
            position: absolute;
            // right: 500px;
            // bottom: -600px;
            top: 140px;
            right: 32%;

            @media (max-width:$mobile) {
                display: none;
            }

            @media (min-width:$mobileM) and (max-width:$tablet) {
                display: none;
            }

            @media (min-width:$tablet) and (max-width:$desktop-3) {
                right: 20%
            }
        }

    }

    .team-subtitle {
        display: flex;
        justify-content: center;
        margin-top: 32px;

        @media (max-width:$mobile) {
            margin-top: 8px;
            margin-bottom: 32px;
        }

        @media (min-width:$mobileM) and (max-width:$mobilePlus) {}

        .team-description {
            width: 1288px;
            height: 64px;
            flex-shrink: 0;
            color: var(--Basic-1, #FFF);
            text-align: center;
            font-family: Montserrat;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @media (max-width:$mobile) {
                width: 320px;
                height: 88px;
                flex-shrink: 0;
                color: var(--Basic-1, var(--Colors-primary, #FFF));
                text-align: center;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            @media (min-width:$mobileM) and (max-width:$mobilePlus) {
                width: 700px;
                font-size: 38px;
                height: auto;
                padding-top: 4rem;
            }

            @media (min-width:$tablet) and (max-width:$tabletPlus) {
                width: 600px;
                font-size: 24px;
            }

            @media (min-width:$tablet) and (max-width:$tabletPlus) {
                width: 580px;
                flex-shrink: 0;
                color: var(--Basic-1, var(--Colors-primary, #FFF));
                text-align: center;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            @media (min-width:$desktop-1) and (max-width:$desktop-2) {
                width: 1015px;
            }
        }
    }

    .team-experience {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width:$mobile) {
            justify-content: normal;
            align-items: center;
            flex-direction: column;
        }

        @media (min-width:$mobileM) and (max-width:$mobilePlus) {
            flex-direction: column;
            align-items: center;
            flex-direction: column;
        }


        @media (min-width:$tablet) and (max-width:$tablet) {
            justify-content: normal;
            align-items: center;
            flex-direction: column;
        }

        @media (min-width:$tablet) and (max-width:$desktop-3) {
            justify-content: normal;
            align-items: center;
            flex-direction: column;
            // margin-bottom: 128px;
        }

        .team-experience-model-main {

            width: 50%;
            // border: 2px solid red;
            display: flex;
            margin-top: 64px;
            position: relative;

            @media (max-width:$mobile) {
                width: auto;
                // display: flex;
                margin-top: 0;
                position: none;
            }

            @media (min-width:$mobileM) and (max-width:$tablet) {
                width: auto;
                // display: flex;
                margin-top: 0;
                position: none;
            }

            @media (min-width:$tablet) and (max-width:$desktop-3) {
                justify-content: center;
            }

            .team-experience-image {
                width: 1043px;
                height: 597px;
                flex-shrink: 0;
                background: linear-gradient(0deg, rgba(236, 223, 141, 0.25) 0%, rgba(236, 223, 141, 0.25) 100%), url(<path-to-image>) lightgray -210px -131.065px / 120.134% 139.888% no-repeat;
                background-blend-mode: soft-light, normal;
                border-radius: 50px;

                @media (max-width:$mobile) {
                    width: 380px;
                    height: auto;
                    flex-shrink: 0;
                    border-radius: 16px;
                    background: linear-gradient(0deg, rgba(236, 223, 141, 0.25) 0%, rgba(236, 223, 141, 0.25) 100%), url(<path-to-image>) lightgray -25px -18.967px / 106.579% 116.351% no-repeat;
                    background-blend-mode: soft-light, normal;
                }

                @media (min-width:$mobileM) and (max-width:$mobilePlus) {
                    margin-top: 5rem;
                    width: 900px;
                    object-fit: cover;
                }

                @media (min-width:$tablet) and (max-width:$tablet) {
                    width: 487px;
                    height: 310px;
                    flex-shrink: 0;
                    border-radius: 16px;
                    background: linear-gradient(0deg, rgba(236, 223, 141, 0.25) 0%, rgba(236, 223, 141, 0.25) 100%), url(<path-to-image>) lightgray -25px -18.967px / 106.579% 116.351% no-repeat;
                    background-blend-mode: soft-light, normal;
                }

                @media (min-width:$tablet) and (max-width:$desktop-2) {
                    width: 650px;
                    height: auto;
                }
            }

            .team-experience-summary {
                position: absolute;
                width: 400px;
                height: 216px;
                flex-shrink: 0;
                border-radius: 40px;
                background: #54B3B5;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                bottom: 0; // Ajuste conforme necessário
                right: 0; // Ajuste conforme necessário
                left: 37.1rem;
                padding: 24px;

                @media (max-width:$mobile) {
                    display: none;
                }

                @media (min-width:$mobileM) and (max-width:$tablet) {
                    display: none;
                }

                @media (min-width:$desktop-2) and (max-width:$desktop-3) {
                    left: 27.1rem;
                }

                .team-experiencie-title {
                    display: flex;
                    align-items: center;
                    gap: 18px;


                    .experience-years {
                        color: var(--Basic-1, #FFF);
                        text-align: center;
                        font-family: Montserrat;
                        font-size: 50px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                      
                    }

                    .experience-label {
                        color: var(--Basic-1, #FFF);
                        font-family: Montserrat;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                       
                    }
                }

                .experience-description {
                    color: var(--Basic-1, #FFF);
                    font-family: Montserrat;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: 32px;
                    width: 397px;
                   
                }

            }


        }

        .team-experience-details {
            display: flex;
            flex-direction: column;
            // width: 50%;
            // border: solid 2px red;
            gap: 20px;

            @media (max-width:$mobile) {
                margin-top: 48px;
            }

            @media (min-width:$mobileM) and (max-width:$tablet) {
                margin-top: 48px;
            }

            @media (min-width:$tablet) and (max-width:$desktop-2) {
                margin-top: 48px;
            }

            @media (min-width:$tablet) and (max-width:$desktop-3) {
                display: none;
            }

            .experience-item {

                display: flex;
                align-items: center;
                gap: 20px;
                background-color: #FFF;
                display: flex;
                width: 450px;
                height: 80px;
                padding: 8px 20px;
                align-items: center;
                gap: 20px;
                flex-shrink: 0;
                border-radius: 25px;
                background: var(--Basic-1, #FFF);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                @media (max-width:$mobile) {
                    display: flex;
                    width: 320px;
                    height: 74px;
                    padding: 8px 20px;
                    align-items: center;
                    gap: 20px;
                    flex-shrink: 0;
                    border-radius: 25px;
                    background: var(--Colors-primary, #FFF);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                }

                @media (min-width:$mobileM) and (max-width:$mobilePlus) {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    background-color: #FFF;
                    display: flex;
                    width: 650px;
                    height: 80px;
                    padding: 8px 20px;
                    align-items: center;
                    gap: 20px;
                    flex-shrink: 0;
                    border-radius: 25px;
                    background: var(--Basic-1, #FFF);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                }

                @media (min-width:$tablet) and (max-width:$tablet) {
                    display: flex;
                    max-width: 420px;
                    height: 74px;
                    padding: 8px 20px;
                    align-items: center;
                    gap: 20px;
                    flex-shrink: 0;
                    border-radius: 25px;
                    background: var(--Colors-primary, #FFF);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                }

                // @media (min-width:$tablet) and (max-width:$desktop-1) {
                //     display: flex;
                //     max-width: 420px;
                //     height: 56px;
                //     padding: 8px 20px;
                //     align-items: center;
                //     gap: 20px;
                //     flex-shrink: 0;
                //     border-radius: 25px;
                //     background: var(--Colors-primary, #FFF);
                //     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                // }

                .experience-item-image {
                    width: 60px;
                    height: 59.116px;
                    flex-shrink: 0;

                    @media (max-width:$mobile) {
                        width: 40px;
                        height: 39.411px;
                        flex-shrink: 0;
                    }

                    @media (min-width:$tablet) and (max-width:$tablet) {
                        width: 60px;
                        height: 39.411px;
                        flex-shrink: 0;
                    }

                    // @media (min-width:$tablet) and (max-width:$desktop-1) {
                    //     width: 60px;
                    //     height: 39.411px;
                    //     flex-shrink: 0;
                    // }
                }

                .experience-item-years {
                    color: #54B3B5;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                    @media (max-width:$mobile) {
                        color: #54B3B5;
                        text-align: center;
                        font-family: Montserrat;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    @media (min-width:$mobileM) and (max-width:$mobilePlus) {
                        font-size: 50px;
                    }

                    @media (min-width:$tablet) and (max-width:$tablet) {
                        color: #54B3B5;
                        text-align: center;
                        font-family: Montserrat;
                        font-size: 38px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    // @media (min-width:$tablet) and (max-width:$desktop-1) {
                    //     color: #54B3B5;
                    //     text-align: center;
                    //     font-family: Montserrat;
                    //     font-size: 38px;
                    //     font-style: normal;
                    //     font-weight: 700;
                    //     line-height: normal;
                    // }
                }

                .experience-item-description {
                    color: #54B3B5;
                    font-family: Montserrat;
                    font-size: 23px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    @media (max-width:$mobile) {
                        color: #54B3B5;
                        font-family: Montserrat;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    @media (min-width:$mobileM) and (max-width:$mobilePlus) {
                        font-size: 32px;
                    }
                    @media (min-width:$tablet) and (max-width:$tablet) {
                        color: #54B3B5;
                        font-family: Montserrat;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    // @media (min-width:$tablet) and (max-width:$desktop-1) {

                    //     color: #54B3B5;
                    //     font-family: Montserrat;
                    //     font-size: 20px;
                    //     font-style: normal;
                    //     font-weight: 400;
                    //     line-height: normal;
                    // }
                }
            }
        }
    }

    .team-section-two {
        width: 100%;
        height: 120vh;

        @media (min-width:360px) and (max-width:375px) {
            height: 135vh;
        }

        @media (min-width:377px) and (max-width:390px) {
            height: 128vh;
        }

        @media (min-width:391px) and (max-width:$mobile) {
            height: 115vh;
        }
        @media (min-width:$mobileM) and (max-width:$mobilePlus) {
            height: 55vh;
        }

        @media (min-width:$tablet) and (max-width:$tablet) {
            height: 98vh;
        }

        @media (min-width:$tablet) and (max-width:$desktop-2) {
            height: 140vh;
        }

        .team-header-two {

            display: flex; // Use flexbox para alinhar horizontalmente
            align-items: center; // Alinha verticalmente no centro
            justify-content: center;
            position: relative;

            .team-title-two {
                width: 704px;
                // height: 150px;
                flex-shrink: 0;
                color: var(--Basic-1, #FFF);
                text-align: center;
                font-family: Montserrat;
                font-size: 55px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-top: 128px;
                margin-bottom: 48px;

                @media (max-width:$mobile) {
                    width: 396px;
                    height: auto;
                    flex-shrink: 0;
                    color: var(--Colors-primary, #FFF);
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-top: 64px;
                    margin-bottom: 12px;
                }
                @media (min-width:$mobileM) and (max-width:$mobilePlus) {
                    margin-top: 48px;
                    height: 0;
                    font-size: 80px;
                }

                @media (min-width:$tablet) and (max-width:$tablet) {
                    width: 396px;
                    height: auto;
                    flex-shrink: 0;
                    color: var(--Colors-primary, #FFF);
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-top: 64px;
                    margin-bottom: 12px;
                }
            }

            .team-header-image-two {
                width: 400px;
                height: auto;
                position: absolute;
                right: 31%;
                top: 42%;

                @media (max-width:$mobile) {
                    display: none;
                }

                @media (min-width:$mobileM) and (max-width:$tablet) {
                    display: none;
                }

            }

        }

        .team-header-subtitle {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 1258px;
            height: 104px;
            flex-shrink: 0;
            margin: auto;

            @media (max-width:$mobile) {
                width: auto;
                height: auto;
                margin-top: 48px;
            }

            @media (min-width:$mobileM) and (max-width:$tablet) {
                width: auto;
                height: auto;
                margin-top: 48px;
            }

            .team-header-content {

                height: 104px;
                color: var(--Basic-1, #FFF);
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                @media (max-width:$mobile) {
                    color: var(--Basic-1, var(--Colors-primary, #FFF));
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    width: 326px;
                    margin-top: -32px;
                }

                @media (min-width:$mobileM) and (max-width: $mobilePlus) {
                    width: 800px;
                    height: auto;
                    font-size: 32px;
                    padding-top: 2rem;
                }

                @media (min-width:$tablet) and (max-width:$tablet) {
                    color: var(--Basic-1, var(--Colors-primary, #FFF));
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    width: 420px;
                    margin-top: -32px;
                }

                @media (min-width:$tablet) and (max-width:$desktop-2) {
                    width: 80%;
                }

            }
        }

        .research-section {

            display: flex;
            gap: 50px;
            justify-content: center;
            margin-top: 100px;
            text-align: center;
            margin-bottom: 25px;

            @media (max-width:$mobile) {
                display: grid;
                grid-auto-flow: column;
                overflow-x: auto;
                column-gap: 0px;
                margin-left: -1rem;
                // flex: 0 0 auto;
                justify-content: flex-start;
            }

            @media (min-width:$mobileM) and (max-width:$tablet) {
                display: grid;
                grid-auto-flow: column;
                overflow-x: auto;
                column-gap: 0px;
                margin-left: -1rem;
                // flex: 0 0 auto;
                justify-content: flex-start;
            }

            @media (min-width:$tablet) and (max-width:$desktop-3) {
                display: flex;
                flex-wrap: wrap;
                gap: 32px;
            }

            .research-item {
                width: 423px;
                text-align: center;

                @media (min-width:$tablet) and (max-width:$desktop-3) {
                    height: 650px;
                }


                @media (max-width:$mobile) {
                    text-align: start;
                }

                @media (min-width:$mobileM) and (max-width:$tablet) {
                    text-align: start;
                }

                .research-item-image {

                    width: 423px;
                    height: 310px;
                    flex-shrink: 0;
                    background: linear-gradient(0deg, rgba(236, 223, 141, 0.40) 0%, rgba(236, 223, 141, 0.40) 100%), lightgray 50% / cover no-repeat;
                    background-blend-mode: soft-light, normal;
                    border-radius: 0px 100px 0px 0px;
                    background: var(--Basic-1, #FFF);
                    margin-bottom: -4px;

                    @media (max-width:$mobile) {
                        width: 400px;
                        // height: 405px;
                        flex-shrink: 0;
                    }

                    @media (min-width:$mobileM) and (max-width:$tablet) {
                        width: 400px;
                        // height: 405px;
                        flex-shrink: 0;
                    }
                }


                .research-section-content {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    background: var(--Basic-1, #FFF);
                    height: 310px;
                    padding: 0 50px;
                    margin-top: 0;
                    border-radius: 0px 0px 0px 100px;
                    background: var(--Basic-1, #FFF);
                    position: relative;
                    z-index: 2;

                    @media (max-width:$mobile) {
                        width: 300px;
                        // height: 405px;
                        flex-shrink: 0;
                    }

                    @media (min-width:$mobileM) and (max-width:$tablet) {
                        width: 300px;
                        // height: 405px;
                        flex-shrink: 0;
                    }

                    .research-item-title {
                        color: var(--Secondary, #032131);
                        text-align: center;
                        font-family: Montserrat;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        width: 297px;
                    }

                    .research-item-description {
                        color: rgba(3, 33, 49, 0.70);
                        font-family: Montserrat;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-top: 16px;

                        @media (max-width:$mobile) {
                            font-size: 17px;
                            opacity: .7;
                        }

                        @media (min-width:$mobileM) and (max-width:$tablet) {
                            font-size: 17px;
                            opacity: .7;
                        }
                    }
                }

                .research-bg-item {
                    width: 368px;
                    height: 220px;
                    flex-shrink: 0;
                    border-radius: 0px 0px 0px 100px;
                    background: #89BAC6;
                    position: relative;
                    z-index: 1;
                    // top: 1px;
                    bottom: 200px;
                }

                .research-bg-item-two {
                    width: 347px;
                    height: 220px;
                    flex-shrink: 0;
                    border-radius: 0px 0px 0px 100px;
                    background: #54B3B5;
                    position: relative;
                    z-index: 0;
                    bottom: 400px;
                }
            }
        }
    }
}